=simple_form_for @recipe do |f|
  =f.input :title
  =f.input :description
  =f.input :photo, as: :file

  %h3 Ingredients
  #ingredients
    = f.simple_fields_for :ingredients do |ingredient|
      = render 'ingredient_fields', f: ingredient
    .links
      = link_to_add_association 'Add ingredient', f, :ingredients

  %h3 Directions
  #directions
    = f.simple_fields_for :directions do |direction|
      = render 'direction_fields', f: direction
    .links
      = link_to_add_association 'Add direction', f, :directions

  =f.button :submit
